新版消息提醒/BayNexus.NewsServer/BayNexus.NewsServer/BayNexus.NewsServer/Service References/MessageService/MessageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCurrentMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="receiveID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sendStatus" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="messageContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiveID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiveName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveIDs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SendStatus" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessageResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMessageStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="messageIDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMessageStatusResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentMessageSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentMessage" />
  </wsdl:message>
  <wsdl:message name="GetCurrentMessageSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentMessageResponse" />
  </wsdl:message>
  <wsdl:message name="SaveMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SaveMessage" />
  </wsdl:message>
  <wsdl:message name="SaveMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SaveMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="GetMessageSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMessageStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMessageStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateMessageStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMessageStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="MessageServiceSoap">
    <wsdl:operation name="GetCurrentMessage">
      <wsdl:input message="tns:GetCurrentMessageSoapIn" />
      <wsdl:output message="tns:GetCurrentMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMessage">
      <wsdl:input message="tns:SaveMessageSoapIn" />
      <wsdl:output message="tns:SaveMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input message="tns:GetMessageSoapIn" />
      <wsdl:output message="tns:GetMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageStatus">
      <wsdl:input message="tns:UpdateMessageStatusSoapIn" />
      <wsdl:output message="tns:UpdateMessageStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageServiceSoap" type="tns:MessageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentMessage">
      <soap:operation soapAction="http://tempuri.org/GetCurrentMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMessage">
      <soap:operation soapAction="http://tempuri.org/SaveMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateMessageStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageServiceSoap12" type="tns:MessageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentMessage">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMessage">
      <soap12:operation soapAction="http://tempuri.org/SaveMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap12:operation soapAction="http://tempuri.org/GetMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateMessageStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageService">
    <wsdl:port name="MessageServiceSoap" binding="tns:MessageServiceSoap">
      <soap:address location="http://localhost:8885/Service/MessageService.asmx" />
    </wsdl:port>
    <wsdl:port name="MessageServiceSoap12" binding="tns:MessageServiceSoap12">
      <soap12:address location="http://localhost:8885/Service/MessageService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>